{% extends 'base.html' %}
{% block title %}contact{% endblock title %}
{% block body %}
<h1 class='text-center'>Contact us</h1>
<div class="container-fluid mx-7">
<form action="/contact" method="post">
    {% csrf_token %}
<div class="row g-3">
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="City" aria-label="City" name='city'>
    </div>
    <div class="col-sm-5">
      <input type="phone" class="form-control" placeholder="phone" aria-label="phone" name='phone'>
    </div>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="State" aria-label="State" name="state">
    </div>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Zip" aria-label="Zip" name="zip">
    </div>
      <button type="submit">submit</button>
  </div>
</form>
</div>
{% endblock body %}